%margen {
  margin: 50px;
  padding: 20px;
}
%flex {
  display: flex;
  flex-direction: row;
}

.seccionCloneWars {
  @extend %margen;
}
.seccionThebadb {
  @extend %margen;
}

.mob {
  @extend %flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
}
