* {
  margin: 0px;
  padding: 0px;
  background-color: $color-principal;
  color: white;
}
body {
  background-color: $color-principal;
}
.logo {
  display: block;
}
/* menu */
.inicio {
  display: block;
  position: sticky;
  top: 0;
  border-bottom: white 1px solid;
}
.in {
  background-color: $color-principal;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu {
  display: flex;
  height: 50px;
  align-items: center;
  font-family: map-get($map: $header, $key: font-family);
}

ul {
  list-style: none;
  li {
    a {
      margin: 10px;
    }
  }
}
.pad {
  margin: map-get($map: $header, $key: margin);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.backim {
  background-image: url(../img/bordo.jpg);
  transition: all 1s;

  &:hover {
    transform: skewX(20deg);
  }
}
/* menu */
/* menu mobile */
.menuMobile {
  display: none;
}
/* menu mobile */
/* body */

h2 {
  color: red;
  background-color: $color-secundario;
  font-family: map-get($map: $header, $key: font-family);
  margin: map-get($map: $header, $key: margin);
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  grid-template-areas:
    "txt txt img"
    "img2 img2 img2";
}
.uno {
  grid-area: txt;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 30px;
  padding: 40px;
}
.ord {
  grid-area: img;
  flex-direction: row;
  justify-content: flex-start;
}
.dos {
  border: 2px solid $color-secundario;
  display: block;
}
.dosmob {
  display: none;
}
.bordes {
  display: block;
  border: 2px solid $color-secundario;
}
.bordesmob {
  display: none;
}
.moverCentro {
  grid-area: img2;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

.reducir {
  border: $color-secundario 2px solid;
  border-radius: 10% / 50%;
}
.margenBox {
  margin: map-get($map: $header, $key: margin);
}
.box {
  color: $color-secundario;
  background-image: url(../img/tumblr_7dab5085af0cc870779a04f730744ea0_6016881e_2048.jpg);
  background-size: contain;
  border: $color-secundario 1px solid;
  font-size: $txt-principal;
  font-weight: bold;
  margin: map-get($map: $header, $key: margin);
  padding: 20px;
}
/* body */
h3 {
  background-color: $color-secundario;
  text-align: center;
  font-size: 30px;
  font-family: map-get($map: $header, $key: font-family);
  margin: map-get($map: $header, $key: margin);
}
.if {
  text-align: center;
  padding: 20px;
}
.orden {
  display: flex;
  flex-direction: row;
  margin: map-get($map: $header, $key: margin);
  justify-content: space-evenly;
  padding: 20px;
}
.trilogiasDes {
  display: block;
}
.trilogiasMob {
  display: none;
}
section {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.guia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: $txt-principal;
  text-align: center;
  padding: 10px;
  margin: map-get($map: $header, $key: margin);
}
.caja {
  transition: all 1s;
  padding: 10px;

  &:hover {
    transform: scale(1.1);
  }
}
iframe{
  width: 600px;
  height: 400px;
}
a {
  color: white;
  text-decoration: map-get($map: $header, $key: decoration);
  font-family: map-get($map: $header, $key: font-family);

  &:hover {
    color: rgb(92, 92, 92);
  }
}
p {
  font-family: map-get($map: $header, $key: font-family);
}
.foot{
  display: flex;
  justify-content: space-between;
}
.pnlDes{
  background-color: black;
  display: block;
  display: flex;
  align-items: flex-end;
}
.spcDes{
  background-color: black;
}
.ico{
  background-color: black;
}
.form{
  margin: 20px;
  padding: 10px 40px 10px;
}
.btn-form{
  color: white;
  border-color: rgb(194, 32, 53);
  background-color: rgb(224, 36, 83);
}
.btn-form:hover{
  color: rgb(219, 219, 219) !important;
  border-color: rgb(77, 8, 18) !important;
  background-color: rgb(136, 24, 39) !important;
}
footer {
  display: flex;
  background-color: $color-secundario;
  border: 30px solid $color-secundario !important;

  a {
    margin: map-get($map: $header, $key: margin);
    padding: 10px;
    background-color: $color-secundario;
  }
}
.colorear {
  color: white;

  &:hover {
    animation: col 2s;
  }
  @keyframes col {
    10% {
      color: red;
    }
    40% {
      color: rgb(255, 72, 72);
    }
    60% {
      color: rgb(255, 144, 144);
    }
    90% {
      color: rgb(255, 199, 199);
    }
    100% {
      color: white;
    }
  }
}
@media screen and (max-width: 760px){
  .guia{
    flex-direction: column;
  }
  .orden{
    flex-direction: column;
  }
  .containerGrid{
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas:
      "txt"
      "img"
      "img2";
  }
  .ord{
    justify-content: center;
  }
  .moverCentro{
    flex-direction: column;
  }
  iframe{
    width: 500px;
  }
  .margenBox{
    margin: 10px;
  }
  .box{
    font-size: 15px;
    margin: 0;
  }
  .pnlDes{
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  .inicio {
    display: none;
  }
  .logo {
    display: none;
  }
  .menuMobile {
    display: block;
    height: 90px;
  }
  .pnl {
    display: flex;
  }
  .spc {
    margin: map-get($map: $header, $key: margin);
  }
  .mon {
    color: $color-principal;
    display: flex;
    flex-direction: row;
  }
  h2 {
    text-align: center;
  }
  .containerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas:
      "txt"
      "img"
      "img2";
  }
  .uno {
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  .dos {
    display: none;
  }
  .dosmob {
    display: block;
    border: 2px solid $color-secundario;
  }
  .ord {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bordes {
    display: none;
  }
  .bordesmob {
    display: block;
    border: 2px solid $color-secundario;
  }
  .reducir {
    display: none;
  }
  .box {
    margin: 0px;
    padding: 10px;
  }
  iframe {
    width: 260px;
    height: 160px;
  }
  .orden {
    flex-direction: column;
  }
  section {
    div {
      margin: 10px;
    }
  }
  .trilogiasDes {
    display: none;
  }
  .trilogiasMob {
    display: block;
  }
  .guia {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pnlDes{
    display: none;
  }
}
/* index */
